<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>questionnaire.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>7</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>0E8D69C5AB6433D6FA065414B9FA3DB90768F6D4</string>
				<key>dateExpires</key>
				<string>16.01.2025</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0E8D69C5AB6433D6FA065414B9FA3DB90768F6D4</string>
						<key>dateExpires</key>
						<string>16.01.2025</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>OpenSSL.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UF47S64NF2</string>
						<key>name</key>
						<string>PRO.MED.CS Marketing ZAO</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.180</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>UF47S64NF2.com.pro.med1</string>
				<key>com.apple.developer.team-identifier</key>
				<string>UF47S64NF2</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>UF47S64NF2.com.pro.med1</string>
				</array>
			</dict>
			<key>name</key>
			<string>questionnaire.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>e7e15556-cd54-4f67-a897-5d9da7c47a18</string>
				<key>dateExpires</key>
				<string>17.01.2023</string>
				<key>name</key>
				<string>iOS Team Inhouse Provisioning Profile: com.pro.med1</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>UF47S64NF2</string>
				<key>name</key>
				<string>PRO.MED.CS Marketing ZAO</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
